.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-size: 4rem;

  font-weight: 600;

  line-height: 5rem;

  color: $white;
  text-transform: uppercase;

  background-color: $blue;
}