.App {
  .custom-heading.ui.segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;

    border-top: none;
    border-left-width: 10px;
    border-radius: 0;

    .text {
      font-size: 30px;
    }
  }
}