*, 
*:before, 
*:after {
  margin: 0;

  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn,
a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  @include on-event {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;

  @include on-event {
    box-shadow: none;
  }
}

input,
select,
button,
textarea {
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance(none);
  }

  @include appearance(none);
}

body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary {

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
  
    background-color: $blue;
  
    .form-box {
      padding: 50px;

      background-color: rgba(255, 255, 255, .2);
      border-radius: 30px;
    }

    .form-heading {
      margin-bottom: 2rem;

      font-size: 3rem;

      letter-spacing: .5rem;
      color: $white;
      text-transform: uppercase;
    }

    .form-title {
      margin-bottom: 37px;

      font-size: 26px;
      letter-spacing: .1rem;
      color: $white;
      text-align: center;
    }

    .ui.form .field > label {
      color: $white;
    }

    .form-button {
      margin-top: 15px;
      width: 100%;

      color: $white;

      background-color: $green;
      border-radius: 20px;

      transition: .2s ease-in-out;

      &:hover {
        color: $white;

        background-color: $blue;
      }
    }

    .form-info {
      margin-top: 10px;

      color: $white;
      text-align: center;
    }

    .form-link {
      color: $green;
    }

    .form-holder {
      width: 320px;
    }
    
  }

  // // App
  // .App .ui.container {
  //   width: 100%;
  // }

  .ui.container {
    width: 100%;
  }

  // Table
  .custom-table.ui.table {
    margin-top: 20px;

    border: 2px solid $faded;
    border-radius: 0;

    thead th {
      color: $blue;

      background: $white;
    }

    tr td {
      color: $gray;
    }
  }

  // Toggle
  .ui.toggle.checkbox input:checked ~ .box:before,
  .ui.toggle.checkbox input:checked ~ label:before,
  .ui.toggle.checkbox input:focus:checked ~ .box:before, 
  .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: $green !important;
  }

  // Header
  .custom-header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 55px;

    color: $white;

    background-color: $blue;

    .dropdown {
      margin-left: auto;
    }
  }

  // custom heading
  .custom-heading.ui.segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;

    border-top: none;
    border-left-width: 10px;
    border-left-color: $green;
    border-radius: 0;

    .text {
      font-size: 30px;
      color: $blue;
    }
  }

  // Sidebar
  .custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;

    padding: 5px 15px;

    margin: 0;
    width: 230px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;

    background-color: $blue;

    .item {
      font-size: 20px;
      color: $white;
    }
  
    .brand-name {
      font-size: 28px;
      letter-spacing: 5px;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // dashboard
  .dashboard-content.ui.grid {
    margin-right: 0;
    margin-left: 230px;
  }

  // button
  .ui.button {
    &.btn-green {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 15px;
      color: $white;

      border-radius: 30px;
  
      background: $green;

      &:hover {
        color: $white;

        background-color: $blue;
      }
    }
  }
}

.secondary {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
  
    background-color: $green;
  
    .form-box {
      padding: 50px;

      background-color: rgba(255, 255, 255, .2);
      border-radius: 30px;
    }

    .form-heading {
      margin-bottom: 2rem;

      font-size: 3rem;

      letter-spacing: .5rem;
      color: $white;
      text-transform: uppercase;
    }

    .form-title {
      margin-bottom: 37px;

      font-size: 26px;
      letter-spacing: .1rem;
      color: $white;
      text-align: center;
    }

    .ui.form .field > label {
      color: $white;
    }

    .form-button {
      margin-top: 15px;
      width: 100%;

      color: $white;

      background-color: $blue;
      border-radius: 20px;

      transition: .2s ease-in-out;

      &:hover {
        color: $white;

        background-color: $green;
      }
    }

    .form-info {
      margin-top: 10px;

      color: $white;
      text-align: center;
    }

    .form-link {
      color: $blue;
    }

    .form-holder {
      width: 320px;
    }

  }
  
  // // App
  // .App .ui.container {
  //   width: 100%;
  // }

  .ui.container {
    width: 100%;
  }

  // Table
  .custom-table.ui.table {
    margin-top: 20px;

    border: 2px solid $faded;
    border-radius: 0;

    thead th {
      color: $blue;

      background: $white;
    }

    tr td {
      color: $gray;
    }
  }

  // Toggle
  .ui.toggle.checkbox input:checked ~ .box:before,
  .ui.toggle.checkbox input:checked ~ label:before,
  .ui.toggle.checkbox input:focus:checked ~ .box:before, 
  .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: $green !important;
  }

  // Header
  .custom-header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 55px;

    color: $white;

    background-color: $green;

    .dropdown {
      margin-left: auto;
    }
  }

  // custom heading
  .custom-heading.ui.segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;

    border-top: none;
    border-left-width: 10px;
    border-left-color: $blue;
    border-radius: 0;

    .text {
      font-size: 30px;
      color: $blue;
    }
  }

  // Sidebar
  .custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;

    padding: 5px 15px;

    margin: 0;
    width: 230px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;

    background-color: $green;

    .item {
      font-size: 20px;
      color: $white;
    }
  
    .brand-name {
      font-size: 28px;
      letter-spacing: 5px;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // dashboard
  .dashboard-content.ui.grid {
    margin-right: 0;
    margin-left: 230px;
  }

  // button
  .ui.button {
    &.btn-green {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 15px;
      color: $white;

      border-radius: 30px;
  
      background: $blue;

      &:hover {
        color: $white;

        background-color: $green;
      }
    }
  }
}

