.container {
  padding: 0  90px;

  margin: 0 auto;
  max-width: 1450px;
}


@include respond-to(md) {
  .container {
    padding: 0 40px;
    max-width: 100%;
  }
}

@include respond-to(sm-down) {
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
}